@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin:0;
}

.hero{
    
    display: flex;
    flex-flow: column;
    background-color: #1F2937;
}

.header{
    
    display: flex;
    justify-content: space-between;
    margin: 0 48px;
    margin-top: 8px;

}

.header-link{
    display: flex;
    gap: 8px;
    

}

.hero-content{
    margin: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-blurb{
    flex:1;
    display: flex;
    flex-flow: column;
}
.img{
    flex: 1;
}

a{
    text-decoration: none;
}