@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin:0;
  display: flex;
  flex-flow: column;
}
.hero{
    display: flex;
    flex-flow: column;
    background-color: #1F2937;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 48px;
    margin-top: 8px;
}
.header-link{
    display: flex;
    gap: 24px;
}
.hero-content{
    margin: 48px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
}
.hero-blurb{
    flex:1;
    display: flex;
    flex-flow: column;
    gap: 8px;
    
}
.img{
    flex: 1;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
a, .sub-text, .img{
    font-size: 18px;
    color: #E5E7EB;
}
.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
button{
    background-color: #3882F6;
    font-size: 14px;
    color: #E5E7EB;
}
.hero-button{
    flex:none;
    width: 100px;
    padding: 4px 0;
    border: none;
    border-radius: 8%;
}
.info{
    padding: 24px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.info-content{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.photos{
    width: 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    gap: 24px;
    margin: 24px;
    
}
.photo-subtext{
    text-align: center;
    color: #1F2937;
}
.icon{
    border: medium solid #3882F6;
    width: 100%;
    height: 150px;
    border-radius: 10%;
}
.testimony{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 48px 150px;
}
.quote{
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}
.source{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    
}