.hero{
    display: flex;
    flex-flow: column;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0 48px;

}

.header-link{
    display: flex;
    

}

.hero-content{
    margin: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.hero-blurb{
    flex:1;
    display: flex;
    flex-flow: column;
}
.img{
    flex: 1;
}